/* Style links
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } */


  body {
    padding: 1rem;
  }

  .button__filter {
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    font-size: 1em;
  }

  .button__forward {
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('../assets/tick.svg');
  }

  .button__baby {
    background-image:url('../assets/baby.svg');
    background-size: 80%;
  }

  .button__customerOnly {
    background-image:url('../assets/customerOnly.svg');
  }

  .button__accessible {
    background-image:url('../assets/accessible.svg');
    background-size: 80%;
  }

  .button__genderNeutral {
    background-image:url('../assets/genderNeutral.svg');
  }

  .button__free {
    background-image:url('../assets/free.svg');
    background-size: 80%;
  }
