/* Style links
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } */



  .button__forward {
    height: 2rem;
    width: 2rem;
    background-image:url('../assets/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
