<body class="error__body">
  <div class="error__container">
  <h1 class="error__code h1">{{statusCode}}</h1> 
  <p class="p2">{{errorMessage}}</p>
  <a class="p1 button__error" href='/'>Back to homepage</a>
  </div>
  <img class="error__image" alt="sad Tinkl logo" src="../assets/error_logo.svg" alt="error">
</body>