<body class="error__body">
  <div class="error__container">
  <h1 class="error__code">{{statusCode}}</h1> 
  <p class="p2">{{errorMessage}}</p>
  <img class="error__image" src="../assets/error_logo.svg" alt="error">
  </div>
</body>