{{>header}}

<section class="filter">
    <p>Select ALL that apply</p>
    <label class="filter__container">
        <input type="checkbox" id="checkbox__public">
        <span class="button__filter button__public"></span>
    </label>
    <label class="filter__container">
        <input type="checkbox" id="checkbox__baby">
        <span class="button__filter button__baby"></span>
    </label>
    <label class="filter__container">
        <input type="checkbox" id="checkbox__accessible">
        <span class="button__filter button__accessible"></span>
    </label>
    <label class="filter__container">
        <input type="checkbox" id="checkbox__free">
        <span class="button__filter button__free"></span>
    </label>
    <label class="filter__container">
        <input type="checkbox" id="checkbox__genderNeutral">
        <span class="button__filter button__genderNeutral"></span>
    </label>
    <p>Toilets intended for customers may require you to make a purchase</p>
    <p class="filter__error"></p>
</section>

{{>navigation}}

<script src="../js/domFilter.js"></script>
