{{>header}}

<section class="filter">
    <input class="button__filter button__customerOnly" type="button" name='customerOnly'>
    <input class="button__filter button__baby" type="button" name="baby">
    <input class="button__filter button__accessible" type="button" name="accessible">
    <input class="button__filter button__free" type="button" name="free">
    <input class="button__filter button__genderNeutral" type="button" name="genderNeutral">
    <p>Select ALL that apply</p>
</section>

{{>navigation}}