{{>header}}

<section>
    <input class="button button__customerOnly" type="button" value="CUSTOMER ONLY">
    <input class="button button__baby" type="button" name="baby">
    <input class="button button__accessible" type="button" name="accessible">
    <input class="button button__free" type="button" value="FREE">
    <input class="button button__genderNeutral" type="button" name="genderNeutral">
    <p>Select ALL that apply</p>
</section>

{{>navigation}}