<div class="home--background">
</div>
<header class="title">
    <h1>Tinkl</h1>
</header>
<nav class="home">
    <a class="button button__find" href="/location">Find a toilet</a>
    {{!-- <a class="button button__find" href="/add">Add a toilet</a> --}}
</nav>
<section class="logo--background">
    <img src="/assets/home_logo.svg">
</section>
