<body class="home__body">
<header>
    <h1 class="h1">Tinkl</h1>
    <p class="p2">Find a Suitable Toilet FAST</p>
</header>
<noscript><p class="noscript p1">! Please enable Javascript !</p></noscript>
<nav class="home__nav">
    <a class="button button__find p1 disabled">Find a toilet</a>
    {{!-- <a class="button button__add" href="/add">Add a toilet</a> --}}
</nav>
<section class="logo--background">
    <img alt="Tinkl logo" src="/assets/home_logo.svg">
</section>

<script src="../js/domHome.js"></script>
</body>
