<div class="home--background">
</div>
<header>
    <h1>Tinkl</h1>
    <p class="p2">Find a Suitable Toilet FAST</p>
</header>
<nav class="home">
    <a class="button button__find p1" href="/location">Find a toilet</a>
    {{!-- <a class="button button__add" href="/add">Add a toilet</a> --}}
</nav>
<section class="logo--background">
    <img src="/assets/home_logo.svg">
</section>
