{{>header}}

<section class="list">

{{>listItem}}

</section>

<section class="navigation">
    <input class="button button__back" type="button" value="Back" onclick="window.location.href='{{navBack}}'">
</section>