<body class="location__body">
  {{>header}}

<section class="location">
  <button class="button button__location p1" id="location" type="button">Use my location</button>
  <p class="location__alert"></p>
  <p>OR</p>
  <input class="text text__location p2" type="text" placeholder="Enter postcode">
  <button class="button button__location p1" id="postcode" type="button">Use my postcode</button>
</section>

<script src="../js/domLocation.js"></script>

{{>navigation}}

</body>