{{>header}}

<section class="location">
  <button class="button button__location" type="button">Use my location</button>
  <p class="location__alert"></p>
  <p>OR</p>
  <input class="text text__location" type="text" pattern="" placeholder="Enter postcode">
  <button class="button button__postcode" type="button">Use my postcode</button>
  <p class="postcode__alert"></p>
</section>

<script src="../js/domLocation.js"></script>

{{>navigation}}
