{{>header}}

<section class="location">
  <input class="button button__location" type="button" value="Use my location">
  <p>OR</p>
  <input class="text text__location" type="text" placeholder="Enter postcode">
  <input class="button button__postcode" type="button" value="Use my postcode">
</section>

<script src="../dom.js"></script>

{{>navigation}}
