<body class="location__body">
  {{>header}}

<section class="location">
  <button class="button button__location p1" id="location" type="button">Use my location</button>
  <p class="location__alert"></p>
  <p class="location__or">OR</p>
  <input class="text text__location p2" type="text" placeholder="Enter postcode">
  <button class="button button__location p1" id="postcode" type="button">Use my postcode</button>
  <p class="postcode__alert"></p>
</section>

<script src="../js/domLocation.js"></script>

<footer class="location__footer">
{{>navigation}}
</footer>

</body>
