{{>header}}

<section class="location">
  <input class="button button__location" type="button" value="Use my location">
  <p>OR</p>
  <input class="text text__location" type="text" placeholder="Enter postcode">
  <input class="button button__postcode" type="button" value="Use my postcode">
</section>

<section class="navigation">
  <input class="button button__back" type="button" value="Back" onclick="window.location.href='/'">
  <input class="button button__forward" type="button" name="forward">
  <div class="navigation__forward">
    <label class="button__forward__label" for="forward">
      <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27.4597 6.08348C27.0308 6.0991 26.6372 6.33348 26.4102 6.70848L14.2605 25.896L6.38936 18.8752C6.05131 18.5132 5.54423 18.3778 5.07751 18.5288C4.61332 18.6772 4.2677 19.0835 4.18697 19.5783C4.10624 20.0757 4.30049 20.5757 4.69405 20.8752L13.6953 28.9168C13.9779 29.1642 14.3513 29.2736 14.7171 29.2189C15.0854 29.1616 15.4108 28.9455 15.6127 28.6252L28.5899 8.16681C28.8674 7.74754 28.8901 7.20587 28.6504 6.76317C28.4108 6.32306 27.9491 6.06004 27.4597 6.08348Z" fill="black"/>
      </svg>
    </label>
  </div>
<section>
