{{!-- <section class="navigation">
    <input class="button button__back" type="button" value="Back" onclick="window.location.href='{{navBack}}'">
    <input class="button button__forward" type="button" name="Forward" onclick="window.location.href='{{navForward}}'">
</section> --}}

<footer class="navigation">
    <a class="button button__back" href="{{navBack}}">Back</a>
    <a class="button button__forward"><img class ="button__forward--tick" src="/assets/tick.svg"></a>
</footer>
