<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="An app to help you find the nearest suitable toilet when you're out and about in London.">
    <meta name="theme-color" content="#A3DAD1">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Tinkl">
    <link rel="apple-touch-icon" href="/public/assets/splash/144x144.png">

    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="../css/normalise.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative:400,600" rel="stylesheet">
    <title>Tinkl</title>
</head>
    {{{body}}}
</html>
